

* {
    box-sizing: border-box;
    margin:0;
    padding:0;

}

.header { font-family: Helvetica, Arial, sans-serif;
    font-size:25px; ;
      /* color: #000000; */
      text-align: center;
      background-color: black;
      border: 3px solid black;
      margin: 0em;                                   ;
      padding:2em;
      
}

.header img{
  width: 60%;
}

li {
  list-style-type: none;
}


.flex-container {
    
    display: flex;
    flex-wrap: wrap;

}

.section {
    flex:50%;
    text-align: center;
    display: inline-block;
    padding-top: 48px;
}

.section h1 {
  font-size: 40px;
  font-weight: bold;
}

.section2 {
    flex:50%;
    text-align: center;
    display: inline-block;
    padding-top:48px;

}

.flex-container2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex: 50%;
  padding:5em;
  color: #6fcbd5;
  justify-content: center;
}

    
 

.button {
  width: 100px;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
  margin:5px;
  background-color: #CACFD1;
  padding:20px;
} 





@media screen and (max-width:500px) {
  .flex-container {
    flex-direction: column;  
    flex-wrap: wrap;
    width: 100%;
  }

  .header img {
    width: 100%;
  }

}
  
