* {
    box-sizing: border-box;
    margin:0;
    padding:0;

}

.header { font-family: Helvetica, Arial, sans-serif;
    font-size:25px; ;
      color: #000000;
      text-align: center;
      background-color: teal;
      border: 3px solid black;
      margin: 0em;                                   ;
      padding:2em;
}
.flex-container {
    
    display: flex;
    flex-wrap: wrap;

}

.section {
    flex:50%;
    text-align: center;
    
    display: inline-block;
 
    padding:20px;
}
.section2 {
    flex:50%;
    text-align: center;
    display: inline-block;

    padding-top:48px;
  
}

    .flex-container2{
        display: flex;
        flex-wrap: wrap;
        
        padding-left:25em;
        flex:50%;
  }

  .button {
    
    text-align: center;
   display:inline-block; 
   
   
    
   
 } 

@media screen and (max-width: 992px) {
    .flex-container, .flex-container2 {
      width: 100%;
    }
  }

  @media screen and (max-width: 600px) {
    .flex-container, .flex-container2 {
      flex-direction: column;  
      width: 50%;
    }
  }

  @media screen and (max-width: 992px) {
     .flex-container2 {
      width: 100%;
    }
  }

  @media screen and (max-width: 600px) {
    .flex-container2 {
      flex-direction: column;  
      width: 50%;
    }
  }